<?xml version="1.0"?>

<launch>
  <node name="orb_slam2_rgbd" pkg="orb_slam2_ros"
      type="orb_slam2_ros_rgbd" args="
          $(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt
          $(find orb_slam2_ros)/orb_slam2/config/RealSenseD435RGBD.yaml"
      output="screen">
       <remap from="/camera/rgb/image_raw" to="/camera/color/image_raw" />
       <remap from="/camera/depth_registered/image_raw" to="/camera/aligned_depth_to_color/image_raw" />

       <param name="publish_pointcloud" type="bool" value="true" />
       <param name="publish_pose" type="bool" value="true" />
       <param name="localize_only" type="bool" value="false" />
       <param name="reset_map" type="bool" value="false" />
       <param name="pointcloud_frame_id" type="string" value="odom_vision" />
       <param name="camera_frame_id" type="string" value="camera1" />
       <param name="min_num_kf_in_map" type="int" value="5" />
  </node>

       <!-- tf from global origin "map" to vision local origin "odom_vision", or starting point of camera. -->
       <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_vision" args="0.48 0 0.82 0 0 0 map odom_vision" />

       <!-- ROS camera frame to optical frame used in other nodes. -->
       <node pkg="tf2_ros" type="static_transform_publisher" name="camera1_to_camera1_optical_frame" args="0 0 0 -0.5 0.5 -0.5 0.5 camera1 camera1_optical_frame" />

<!-- In ros convention, "camera_link" frame is x forward and z up, suffix "_optical" is z forward and y down.
      Check static_transform in camera launch topics. Since "camera_link" has been used in camera itself but
      not exactly the correct frame we want, to avoid confusion, we use new camera frame name. -->

<!--
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_orb_slam" output="screen" ns="orb_slam" >
        <param name="/target_frame_name" value="odom_vision" />
        <param name="/source_frame_name" value="camera1" />
        <param name="/trajectory_update_rate" value="20.0" />
        <param name="/trajectory_publish_rate" value="20.0" />
    </node>
-->

</launch>
