<?xml version="1.0"?>

<launch>
  <node name="orb_slam2_rgbd" pkg="orb_slam2_ros"
      type="orb_slam2_ros_rgbd" args="
          $(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt
          $(find orb_slam2_ros)/orb_slam2/config/RealSenseD435RGBD.yaml"
      output="screen">
       <remap from="/camera/rgb/image_raw" to="/camera/color/image_raw" />
       <remap from="/camera/depth_registered/image_raw" to="/camera/aligned_depth_to_color/image_raw" />

       <param name="publish_pointcloud" type="bool" value="true" />
       <param name="publish_pose" type="bool" value="true" />
       <param name="localize_only" type="bool" value="false" />
       <param name="reset_map" type="bool" value="false" />
       <param name="pointcloud_frame_id" type="string" value="odom_vision" />
       <param name="camera_frame_id" type="string" value="camera_link" />
       <param name="min_num_kf_in_map" type="int" value="5" />
  </node>

<!-- In ros convention, camera_link frame is x forward and z up, suffix "_optical" is z forward and y down. -->

<!--
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_orb_slam" output="screen" ns="est" >
        <param name="/target_frame_name" value="odom_vision" />
        <param name="/source_frame_name" value="camera_link" />
        <param name="/trajectory_update_rate" value="20.0" />
        <param name="/trajectory_publish_rate" value="20.0" />
    </node>
-->

</launch>
